/* reset.css | By: VM2 */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

*{padding: 0; margin: 0;}


a{text-decoration: none;}
img,table{border: 0;}

h1,h2,h3,h4{font-weight: normal; -webkit-margin-before: 0; -webkit-margin-after:0; line-height: normal;}
i{font-style: inherit;}
